@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --blue: #2454b8;
  --light-blue: #dff4ff;
}

body { font-family: 'Inter', system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial; background:#f7f9fb; }
