name: Deploy Express Backend

# main 브랜치의 express 폴더가 변경될 때만 실행
on:
  push:
    branches: ["main"]
    paths:
      - "express/**"

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '18'
          check-latest: true   # Node 설치만, npm ci는 절대 실행하지 않음

      - name: Deploy to Amazon Linux server
        uses: appleboy/ssh-action@0.1.7
        with:
          host: ${{ secrets.AMAZON_LINUX_HOST }}
          username: ${{ secrets.AMAZON_LINUX_USERNAME }}
          key: ${{ secrets.AMAZON_LINUX_SSH_KEY }}
          port: ${{ secrets.AMAZON_LINUX_SSH_PORT }}
          script: |
            # 3-1. repo 루트로 이동 후 전체 코드 업데이트
            cd /home/ec2-user/express
            git pull origin main

            # 3-2. Express 앱 폴더로 이동 후 npm 설치
            cd /home/ec2-user/express/express
            npm install

            # 3-3. .env 생성
            echo "${{ secrets.DOTENV }}" > .env

            # 3-4. pm2 앱 재시작
            pm2 restart a-parking
